@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFFFFF;
    --on-primary-color: #F0F0F0;
    --secondary-color: #000000;
    --tertiary-color: #f9a144;
    --background-color: #101010;
    --on-background-color: #343434;
    --blacksmoke: #0A0A0A;
    --text-color: #888888;

    --mega-header: 5em;
    --mini-header: 4em;
    --header-text: 3em;
    --medium-text: 2em;
    --mini-text: 1.2em;
    --small-text: 1em;
    --p-text: .9em;
    --span-text: .8em;
    --link-span-text: .7em;
}

body,
html {
    overflow-x: hidden;
    display: block;
    place-items: revert;
}

.ApplicationCtn {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 5%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

nav .Navlink-Left {
    width: max-content;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    gap: .5em;
    padding: 2px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

nav .Navlink-Left li.active {
    background-color: var(--primary-color);
    width: max-content;
    height: auto;
    border-radius: 50px;
}

nav .Navlink-Left li.active a {
    color: var(--secondary-color);
    font-weight: 500;
}

nav .Navlink-Left:hover li:hover{
    width: max-content;
    height: auto;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
}

nav .Navlink-Left:hover li:hover a{
    color: var(--primary-color);
}

nav .Navlink-Right {
    width: max-content;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto 0;
    gap: .5em;
    padding: 2px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

nav .Navlink-Right li.active {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    width: max-content;
    height: auto;
    border-radius: 50px;
}

nav .Navlink-Right li.active a {
    color: var(--secondary-color);
    font-weight: 500;
}

nav .Navlink-Right:hover li:hover{
    width: max-content;
    height: auto;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
}

nav .Navlink-Right:hover li:hover a{
    color: var(--primary-color);
}

.Navbar-Logo {
    justify-content: flex-start;
    align-items: center;
    width: auto;
    display: flex;
}

.Navbar-Logo img {
    width: 150px;
    height: auto;
    object-fit: scale-down;
}

nav li {
    list-style: none;
    padding: 12px 20px;
}

nav li a {
    color: var(--primary-color);
    font-size: var(--p-text);
    font-weight: 400;
}

.OpportunityAppCtn {
    width: 100%;
    margin: auto;
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.BackgroundImage {
    width: 100%;
    height: 400px;
    padding: 10px;
    gap: .5em;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    display: flex;
    background-color: var(--secondary-color);
    overflow: hidden;
}

.BackgroundImage img {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.BackgroundImage img:first-child {
    transform: rotate(-15deg);
    width: 400px;
    height: 500px;
}

.BackgroundImage img:last-child {
    transform: rotate(15deg);
    width: 400px;
    height: 500px;
}

.OpportunityAppHeader {
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 2%;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.ContentCtn-Center {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: auto;
    text-align: center;
}

.ContentCtn-Center-Span {
    background: rgba(255, 255, 255, 0.19);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.19);
    font-size: var(--link-span-text);
    font-weight: 400;
    padding: 12px 20px;
    color: var(--text-color);
    margin-bottom: 4%;
}

.ContentCtn-Center h1 {
    color: var(--primary-color);
    font-size: var(--header-text);
    width: 100%;
    max-width: 70%;
}

.ContentCtn-Center p {
    color: var(--primary-color);
    font-size: var(--p-text);
    font-weight: 400;
    width: 100%;
    max-width: 70%;
}

.DuoBtnCtn-Center {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: .5em;
}

.DuoBtnCtn-Center a:first-child {
    width: max-content;
    height: auto;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px 20px;
    font-size: var(--p-text);
}

.DuoBtnCtn-Center a:last-child {
    width: max-content;
    height: auto;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    padding: 12px 20px;
    font-size: var(--p-text);
}

.SingleBtnCtn-Center a {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: .5em;
    background-color: var(--primary-color);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--secondary-color);
    font-size: var(--p-text);
    font-weight: 500;
}

.SingleBtnCtn-Center a img {
    width: 45px;
    height: auto;
    display: flex;
    object-fit: scale-down;
    background-color: var(--secondary-color);
    padding: 12px;
    border-radius: 50px;
}



.SingleBtnCtn-Center-Dark-BG a {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: .5em;
    background-color: var(--secondary-color);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--primary-color);
    font-size: var(--p-text);
    font-weight: 500;
}

.SingleBtnCtn-Center-Dark-BG a img {
    width: 45px;
    height: auto;
    display: flex;
    object-fit: scale-down;
    background-color: var(--primary-color);
    padding: 12px;
    border-radius: 50px;
}

.OpportunityAppFooterCtn {
    width: 100%;
    height: auto;
    padding: 5%;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.OpportunityAppFooter {
    width: 100%;
    height: auto;
    padding-bottom: 2%;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    text-align: center;
}

.OpportunityAppFooter h2 {
    color: var(--primary-color);
    font-size: var(--medium-text);
    width: 100%;
    max-width: 50%;
}

.OpportunityAppFooter p {
    color: var(--primary-color);
    font-size: var(--p-text);
    font-weight: 400;
    width: 100%;
    max-width: 70%;
}

.QuickLinksCtn {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 5%;
    width: 100%;
    height: auto;
}

.QuickLinksFlex {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.QuickLinksFlex ul {
    width: 100%;
    height: 100%;
    gap: 1em;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.QuickLinksFlex ul span {
    font-size: var(--span-text);
    color: var(--text-color);
    margin-bottom: 5%;
}

.QuickLinksFlex ul li {
    width: 100%;
    height: auto;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin: auto;
    list-style: none;
}

.QuickLinksFlex ul li a {
    font-size: var(--p-text);
    color: var(--primary-color);
    font-weight: 400;
}

hr {
    width: 95%;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

.copyright {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    display: flex;
}

.copyright span {
    text-align: center;
    font-size: var(--span-text);
    color: var(--text-color);
}

.CarouselCtn {
    width: 100%;
    height: auto;
    padding: 5%;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.CarouselHeader {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto 0;
    display: flex;
    flex-direction: column;
}
.CarouselHeader h2 {
    font-size: var(--medium-text);
    color: var(--tertiary-color);
    max-width: 40%;
    font-weight: 500;
}

.CarouselHeader p {
    font-size: var(--p-text);
    color: var(--text-color);
    font-weight: 500;
    max-width: 80%;
}

.CarouselFlexCtn {
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 2em;
}

.CarouselFlexBox {
    width: 250px;
    min-width: 250px;
    height: 200px;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.19);   
}

.CarouselFlexBox h2 {
    font-size: var(--medium-text);
    color: var(--tertiary-color);
    font-weight: 700;
}

.CarouselFlexBox p {
    font-size: var(--span-text);
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 0px;
}

.CarouselFlexBox img {
    width: 50px;
    height: auto;
    object-fit: scale-down;
    filter: invert(100%);
}

.CaurouselImageBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.CaurouselImageBox img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.CarouselDetails {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.CarouselDetails h2 {
    font-size: var(--small-text);
    color: var(--tertiary-color);
    font-weight: 500;
}

.CarouselDetails p {
    font-size: var(--p-text);
    color: var(--text-color);
    font-weight: 500;
}

.CarouselDetails ul {
    margin-left: 10px;
}

.CarouselDetails ul li {
    font-size: var(--p-text);
    font-weight: 500;
    color: var(--secondary-color);
    padding-bottom: 5px;

}

.FormPosition {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.FormPosition .FormImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.FormCtn {
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
}

.FormCtnHeader {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.FormZones {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: .5em;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.FormZones p {
    cursor: pointer;
    width: max-content;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto 0;
    color: var(--primary-color);
    font-size: var(--span-text);
    font-weight: 500;
    padding: 12px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.19);   
}

.FormSelection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 0;
}
.FormSelection select {
    width: 100%;
    padding: 12px;
    border-radius: 50px;
    outline: none;
    font-size: var(--p-text);
    font-weight: 600;
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    background-image: url('https://res.cloudinary.com/quinn-daisies-platform/image/upload/v1744314704/Quinn%20Daisies%20Logistics/Drop_Down_p1hklg.png');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 30px 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.FormSelection input {
    width: 100%;
    height: auto;
    padding: 12px;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-size: var(--p-text);
    font-weight: 600;
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.FormBookingDescription {
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 2%;
}

.FormBookingDescription h2 {
    font-size: var(--small-text);
    font-weight: 500;
    color: var(--tertiary-color);
}

.FormBookingDescription p {
    font-size: var(--p-text);
    font-weight: 500;
    color: var(--secondary-color);
    color: var(--primary-color);
}

.FormComponentInformation {
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.FormComponentInformation h2 {
    font-size: var(--mini-text);
    font-weight: 500;
    color: var(--tertiary-color);
}

.FormComponentInformation p {
    font-size: var(--p-text);
    color: var(--primary-color);
}

.SingleBtnCtn-Center button {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: .5em;
    background-color: var(--primary-color);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--secondary-color);
    font-size: var(--p-text);
    font-weight: 500;
}

.SingleBtnCtn-Center button img {
    width: 45px;
    height: auto;
    display: flex;
    object-fit: scale-down;
    background-color: var(--secondary-color);
    padding: 12px;
    border-radius: 50px;
}

.BookShipment {
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.BookShipmentHeader {
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.BookShipmentHeader h3 {
    font-size: var(--small-text);
    font-weight: 500;
    color: var(--tertiary-color);
}

.BookShipmentHeader p {
    font-size: var(--span-text);
    font-weight: 500;
    color: var(--primary-color);
}

.SingleBtnCtn-Right {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: .5em;
}

.SingleBtnCtn-Right button {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: .5em;
    background-color: var(--primary-color);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--secondary-color);
    font-size: var(--p-text);
    font-weight: 500;
}

.SingleBtnCtn-Right button img {
    width: 45px;
    height: auto;
    display: flex;
    object-fit: scale-down;
    background-color: var(--secondary-color);
    padding: 12px;
    border-radius: 50px;
}

.FormCtnControl {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 auto;
}

.AboutHeaderCtn {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.BackgroundImagePosition {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.AboutHeader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .7);
}

.AboutHeader h1 {
    font-size: var(--medium-text);
    font-weight: 500;
    color: var(--tertiary-color);
}

.AboutHeader p {
    font-size: var(--p-text);
    font-weight: 500;
    color: var(--primary-color);
    width: 80%;
    text-align: center;
}

.FlexCtn {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.FlexCtnBoxCtn {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 5%;
}

.FlexCtnBox {
    width: 100%;
    height: 130px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.19);
    padding: 50px;
}

.FlexCtnBox img {
    width: 35px;
    height: auto;
    object-fit: scale-down;
    padding: 5px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .8);
}

.FlexCtnBoxContent {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.FlexCtnBoxContent h3 {
    font-size: var(--p-text);
    font-weight: 500;
    color: var(--tertiary-color);
}

.FlexCtnBoxContent a{
    font-size: var(--span-text);
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 0px;
    text-decoration: underline;
}

.FlexDesignColumn {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 2em;
}

.FlexCtnBoxCtnRow {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.FlexCtnBoxCtnImg {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 25px;
}

.FlexCtnBoxCtnRowContent {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.FlexCtnBoxCtnRowContent span {
    font-size: var(--span-text);
    font-weight: 500;
    color: var(--text-color);
    padding: 12px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

.FlexCtnBoxCtnRowContent h3 {
    font-size: var(--medium-text);
    font-weight: 500;
    color: var(--tertiary-color);
    margin: 15px auto;
}

.FlexCtnBoxCtnRowContent p {
    font-size: var(--p-text);
    font-weight: 500;
    color: var(--text-color);
    margin: 15px auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 1024px) {

    .FlexCtnBoxCtn {
        flex-direction: column;
    }

    .FlexCtnBoxCtnRow {
        flex-direction: column;
    }

    .FlexCtnBoxCtnImg {
        max-width: 100%;
    }

    .FlexCtnBoxCtnRowContent h3 {
        font-size: var(--small-text);
        margin: 15px 0 0 0;
    }

    .FormSelection {
        flex-direction: column;
    }

    .FormZones {
        flex-wrap: wrap;
    }

    .ContentCtn-Center h1 {
        color: var(--primary-color);
        font-size: var(--medium-text);
        max-width: 100%;
    }

    .ContentCtn-Center p {
        color: var(--primary-color);
        font-size: var(--p-text);
        font-weight: 400;
        max-width: 100%;
    }

    .OpportunityAppFooter h2 {
        font-size: var(--mini-text);
        max-width: 100%;
    }

    .OpportunityAppFooter p {
        max-width: 100%;
    }

    nav {
        display: none;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 768px) {

    .FormCtn {
        justify-content: center;
    }

    .BackgroundImage {
        display: none;
    }

    .home-about-grid-item {
        width: auto !important;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 100%;
    }

    .home-about-grid {
        align-items: flex-start;
    }

    .home-about-grid-item h2 {
        width: max-content;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        margin-bottom: 0px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 540px) {

    .AboutHeader {
        align-items: flex-start;
    }

    .AboutHeader p {
        width: 100%;
        text-align: left;
    }
    
    .OpportunityAppHeader {
        padding: 5% 0;
        height: 100vh;
    }

    .QuickLinksFlex {
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .QuickLinksFlex ul span {
        margin-bottom: 0%;
    }

    .home-about-content h2 {
        font-size: var(--small-text) !important;
    }

    .OpportunityAppFooter h2 {
        font-size: var(--small-text) !important;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 540px) {
    .QuickLinksFlex ul {
        padding-left: 0px;
    }

    .DuoBtnCtn-Center {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }   

    .DuoBtnCtn-Center  a {
        width: 100% !important;
        text-align: center;
    }   
}